* {
    box-sizing: border-box;
  }

h1  {
    align-self: center;
}

main {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    background-color: green;
    size: 100vmin;
    border-radius: 90%;
    justify-content: space-around;
}

#tactiles {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#dealt-cards {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#dealercard {
    align-self: center;
    height: 20vmin;
    width: 15vmin;
    margin-bottom: 20px;
}

#playercard {
    align-self: center;
    height: 20vmin;
    width: 15vmin;
}

#chips {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-column-gap: 30px;
    size: 100vmin;
    align-self: center;
    margin-bottom: 50px;
    align-items: center;

}
#betting>button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 10px;
}

#scores {
    display: grid;
    grid-template-columns: 15vmin 15vmin 15vmin 15vmin;
    grid-column-gap: 10vmin;
    align-items: center;
    justify-content: center;
  }
}